*.class
*.log

/.bloop/
/.metals/
/.vscode/
/.idea/
/.bsp/
/project/metals.sbt
/project/project/
/project/.bloop/
/project/target/
/target/

/core/target/
/it/target/
/zio/target/
/zio-it/target/

/cats-effect/target/
/cats-effect-it/target/

/ducktape/target/